@font-face {
    font-family: 'DM Serif Text';
    src: url('assets/DMSerifText-Regular.ttf');
}

@font-face {
    font-family: 'DM Sans';
    src: url('assets/DMSans_18pt-Regular.ttf');
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
    font-size: 78px;
    color: #EE8355;
    font-family: 'DM Serif Text';
    font-weight: normal;
}

.subtitle {
    margin-top: -12px;
    font-size: 20px;
    color: #777777;
    font-family: 'DM Sans';
    font-weight: normal;
}

body {
    background-color: #F9F7F5;
}

.login_form {
    margin-top: 24px;
    padding: 48px;
    padding-left: 56px;
    padding-right: 56px;

    padding-bottom: 24px;
    border-radius: 30px;

    background-color: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    width: 18%;
    
    gap: 16px;

    display: flex;
    flex-direction: column;

    font-family: 'DM Sans';
    font-size: 16px;
}

.login_form input {
    padding: 8px;
    background-color: #F9F7F5;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding: 12px;
    outline: none;
    color: #000000;
    font-family: 'DM Sans';
    font-size: 14px;
}

.login_form button {
    padding: 10px;

    background-color: #EE8355;
    color: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    border: none;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
}

.login_form div {
    display: flex;
    justify-content: center;
    color: #777777;
    margin-bottom: -8px;
    margin-top: -8px;
}

.login_form a {
    color: #777777;
    text-decoration-color: none;
    margin-left: 6px;
}

.sidenav {
    height: 92%;
    width: 150px;
    position: fixed;
    z-index: 1;

    top: 20px;
    left: 20px;

    background-color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    color: #000000;
    font-family: 'DM Sans';
    font-size: 16px;
}

.sidenav a {
    text-decoration: none;
    color: #000000;
    display: block;
    padding-bottom: 6px;
}

.sidenav > .logo {
    font-size: 48px;
    color: #EE8355;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidenav .profile-div {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    column-count: 2;
    column-gap: 0;
    padding-top: 6px;
    background-color: #F9F7F5;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

.profile-div .logout-link {
    text-decoration: none;
    font-size: 15px;
    color: red;
}

.profile-div .profile-link {
    display: flex;
    align-items: center;
}

.profile-link a:hover {
    text-decoration: underline;
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}

.profile-pic{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 6px;
}

.profile-div a {
    all: unset;
    cursor: pointer;
}

.profile-div a {
    font-size: 18px;
}

.nav-buttons a {
    background-color: #F9F7F5;
    border-radius: 18px;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    padding: 8px;
    margin-bottom: 12px;
    text-align: center;
}

.nav-buttons a:hover {
    background-color: #EE8355;
    color: #ffffff;
}

.posts-wrapper {
    width: 100%;
    max-width: 500px;
}

.main-posts {
    margin-left: 200px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
}

.post {
    padding: 18px;

    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-family: 'DM Sans';
    margin-top: 20px;
}

.post-title {
    font-size: 22px;
}


.post-content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #F9F7F5;
    color: #000000;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    font-size: 18px;
}

.liked-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
    font-size: 20px;
    color: #ff4d4d;
}

.not-liked-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    cursor: pointer;
    font-size: 20px;
    color: black;
}

.post-bottom{
    display: inline;
}

.post-bottom-right{
    font-size: 20px;
    text-align: right;
}